<main class="product-container">
  <div *ngFor="let product of products">
    <div class="product-card">
      <img [src]="product.image" alt="{{ product.title }}" />
      <h2>{{ product.title }}</h2>
      <div class="description">
        <p>{{ product.description }}</p>
      </div>
      <div class="product-info">
        <p>Price: ${{ product.price }}</p>
        <p>Category: {{ product.category }}</p>
        <p>
          Rating: {{ product.rating.rate }} ({{ product.rating.count }} ratings)
        </p>
        <div [routerLink]="['/products', product.id]" class="view-product-link">View poduct</div>
        <button (click)="addProductToCart(product)">Add to cart <span *ngIf="product?.cart ">({{ product?.cart }})</span></button>
      </div>
    </div>
  </div>
</main>
